{% load static %}
<!--Howdy Template-->
<html>
	<head>
		<meta charset ="utf-8">
		<title>Welcome to the OGC - {% block title %}{% endblock %}</title>
		
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		
		<link rel="stylesheet" href="{% static 'style.css' %}" type="text/css" />
		<!--<link href="{{ STATIC_URL }}style.css" rel="stylesheet" type="text/css" />-->
		
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		
	</head>
	<body>
	<div id = "banner"><img src="{% static 'bannerpic.png' %}" alt="myimage"/></div>
		<div class="topnav" id="myTopnav">
		  <a href="#home" class="active">Home</a>
		  <a href="#check_trends">Check Trends</a>
		  <a href="#Games_list">Games</a>
		  <a href="#about">About</a>
		  </div>
	
		<h1>Howdy Sarahs and Bella Say WORK!!!!<h1>
		<a href="/about/">About More Work</a><br>
		<a href="/view/">About Other Meow</a>
		
	<!--<div class = "container">	
		{% block pagecontent %}
		Meow Meow
      {% endblock %}-->
	</body>
</html>